.Weather {
  margin: 40px;
}

.Weather .header {
  background-color: #496566;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.Weather h5 {
  font-size: 20px;
  font-weight: 500;
  color: #bab5a2;
}

.Weather .form {
  padding: 5px 200px;
}

.Weather .search-input {
  border-radius: 6px;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  line-height: 20px;
  padding: 10px 15px;
}

.Weather .input-btn {
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  line-height: 20px;
  padding: 10px 15px;
  background-color: #c98332;
  color: #ffff;
}

.input-btn:hover {
  background-color: #6f8884;
}

@media (max-width: 768px) {
  .Weather {
    margin: 10px 0px;
  }

  .Weather .form {
    padding: 0;
  }
}
